{% extends "layout.twig" %}
{% block content %}
        <h1>Ist der Tischkicker im Startplatz gerade frei?</h1>
        <h2>{%  if state %}Leider nein....{% else %}JA!{% endif %}</h2>
        <p>beta test, muss nicht stimmen</p>
        <p class="small">Letzte Änderung: {{ last_update|date('d.m.Y H:i:s') }}</p>
{% endblock %}
