{% extends "layout.twig" %}
{% block content %}
    <div class="hero-unit">
        <h1>Ist der Tischkicker im Startplatz gerade frei?</h1>
        <h2>Weiss nicht</h2>
        <p>Zur Zeit musst Du noch nachschauen gehen...</p>
    </div>
{% endblock %}