{% extends "layout.twig" %}
{% block content %}
        <h1>Ist der Tischkicker im Startplatz gerade frei?</h1>
        <h2>{%  if state %}JA!{% else %}Leider nein....{% endif %}</h2>
        <p>beta test</p>
{% endblock %}
