<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>IST DER TISCHKICKER IM STARTPLATZ FREI?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
        .details {
            display:none;
        }
      h1{
          font-size: 20px;
          color:black;
          font-family: Courier,sans-serif;
      }
      h2{
          font-size: 60px;
          color:black;
          font-family: Courier,sans-serif;
      }
      p{
          font-size: 30px;
          color:black;
          font-family: Courier,sans-serif;
      }
      .starter-template {
          padding: 40px 15px;
          text-align: center;
      }
        .small{
            font-size: 10px;
        }
    </style>
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    
    <script language="text/javascript">
    </script> 
  </head>

  <body>
    <div class="container">
        <div class="starter-template">
{% block content %}

{% endblock %}
        </div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        {% block javascript %}
        {% endblock %}
    </script>

  </body>
</html>

